.navbar-brand h1{
    color:black;
    font-size: 1.5em;
   
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
   
}
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border:0;}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid #61122f;
}
.navbar-brand p{
    color:#000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
#nav-list{
    margin-top: 10px;
    background-color: rgb(250, 225, 156);
}
#nav-list span{

    font-size: 1.5em;   
    font-weight: bold;
}
.text-center{
    font-size: 20px;
    font-weight: bold;
}
.chicken,.beef,.sushi{
    height:1000px;
    width:100%;
    margin-bottom: 15px;
    position:relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    background-color: rgb(250, 225, 156);
    }
    .chicken .text-center,.beef .text-center,.sushi .text-center{
        font-size: 1.5em;
    }
